:root{
    --img-margen-tl:5px 10px 5px 10px;
    --color-fondo:#667cac;
}   
* {
    margin: 0px;
    padding: 0px;
}

#cabecera {
    display: flex;
    justify-content: space-between;
    background-color: #b7b7b7;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px 4px 0px 4px;
    border: 3px solid #444;
    position: fixed;
    top:0%;
    right:0%;
    left: 0%;
    box-sizing: border-box;
}

#cabecera img {
    height: 85px;
}

.logos {
    display: flex;
}

.logo1 img {
    border-right: 3px solid #444;
    padding-right: 20px;
    margin: var(--img-margen-tl);
}
.logo2 img {
    margin: var(--img-margen-tl);
}

.imagen_perfil {
    margin: var(--img-margen-tl)
}

.icono_ayuda {
    position: relative;
    top: 30%;
    margin-right: 10px;
}

.icono_ayuda button {
    border-radius: 50%;
    padding: 20%;
    background-color: black;
    color: #fff;
}

.icono_ayuda button:hover {
    background-color: #fff;
    color: #444;
}

.container{
    background-color: var(--color-fondo);
    margin-left: 5px;
    margin-right: 50px;
    text-align: center;
    box-sizing: border-box;
}


.perfil_adm {
    display: flex;
    justify-content: center;
    text-align: center;
}

.perfil_adm li {
    list-style: none;
}

.perfil_txt {
    margin-bottom: 0px;
}

.perfil_txt ul {
    border-left: 3px solid #444;
    padding-left: 10px;
    margin-bottom: 5px;
}

.perfil_txt button {
    width: 100%;
    margin-bottom: 0.1px;
}

.perfil_txt button:hover {
    background-color: rgb(202, 231, 255);
}

.perfil_txt h6 {
    border: 3px solid #444;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 3px;

}
.pie_pagina {
    border-top: 2px solid #444;
    padding-top: 0.5%;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    height:2.5rem;
    text-align: center;
    bottom: 0%;
}

/*Contenedor Administrador - INICIO SESION*/

#container_inicio{
    display: grid;
    border: 1px solid #444;
    width: 100%;
    margin: 200px 0px 50px 0px;
    height: auto;
    grid-template-rows: repeat(12 ,50px);
    grid-template-columns: 10% repeat(8 ,10%)10%;
    background-color: #c5c5c5;             
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
}

#container_inicio img{
    width: 100px;
}


.container_inicio{
    grid-row: 2/12;
    grid-column: 2/10;
    height: 100%;
    background-color: #fff;
    border: 1px solid #444;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
}

.inicio_titulo{
    margin:20px 0px 20px 0px;
    
}

.inicio_imagenes{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 10px 0px;
}
.inicio_texto{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.inicio_texto h4{
    margin-top: 20px;
}

.inicio_texto input{
    width: 50%;
    margin: auto 25% auto 25%;
    height: 30px;
}


/*Contenedor Analista de Inventario - PERFIL Y GESTIONAR ELEMENTOS*/
#container_perfil_adm {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    margin: 120px 10px 20px 10px;
    background-color: #c5c5c5;
    border-radius: 20px;
    font-size: 90%;
    height: 100%;
    padding: 80px 20px 140px 20px;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
}

.crear_adm,
.eliminar_adm,
.modificar_adm,
.visualizar_adm {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #444;
    padding: 20px;
    line-height: 50px;
}

#container_perfil_adm textarea {
    margin-top: 20px;
}

.titulo_container_perfil_adm {
    margin-bottom: 50px;
}

.secciones_perfil_adm {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/*Modulo Analista de Inventario - Asignar Elemento*/
#container_asignacion_elemento {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    margin: 120px 10px 20px 10px;
    background-color: #c5c5c5;
    border-radius: 20px;
    font-size: 90%;
    line-height: 30px;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
}

.secciones_asignacion {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #444;
    padding: 20px 50px 20px 50px;
}

.titulo_asignacion {
    text-align: start;
    border-bottom: 1px solid #444;
    margin-bottom: 20px;
}

span {
    color: red;
}

.datos_usuario_asignacion {
    display: flex;
    justify-content: center;
}

.datos_usuario_titulo_asig h3 {
    text-align: start;
    width: 20%;
}


.datos_usuario_asignacion {
    border-left: 1px solid #444;
}

.datos_asignacion_requerimiento,
.datos_usuario_asignacion {
    width: 50%;
}

.datos_asignacion_requerimiento {
    text-align: start;
    padding: 1%;
    line-height: 20px;
}

.datos_asignacion_requerimiento h3 {
    box-sizing: border-box;
}

.datos_asignacion_requerimiento input {
    width: 100%;
}

.detalle_asignacion_requerimiento textarea {
    width: 100%;
}

.datos_usuario_asignacion {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px;
}

.datos_usuario_listas {
    display: flex;
    border: 1px solid #444;
}

.datos_usuario_lista1_asig,
.datos_usuario_lista2_asig {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.datos_usuario_lista2_asig {
    margin-right: 70px;
}

.datos_usuario_lista1_asig ul,
.datos_usuario_lista2_asig ul {
    width: 100%;

}

.datos_usuario_lista1_asig li,
.datos_usuario_lista2_asig li {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: end;
    margin-top: 5px;
    margin-bottom: 5px;
}

.datos_usuario_lista1_asig input,
.datos_usuario_lista2_asig input {
    background-color: #b7b7b7;
}

.botones_sol{
    margin-top: 20px;
}

.botones_sol button {
    margin: 10px 20px auto 20px;
}

.seccion_asignacion1 {
    display: flex;
    border: 1px solid #444;
}

.seccion_asignacion2 {
    display: flex;
    border-top: 1px solid #444;
    margin-top: 20px;
    padding-top: 20px;
}

.boton_agregar{
    margin-right: 30px;
    margin-left: 20px;
}
.buscar_agregar{
    display: flex;
    text-align: center;
    border: 1px solid #444;
    width: 90%;
    justify-content:space-around;
}

.buscar_agrega button{
    margin-left: 20px;
    margin-right: 20px;
}

.seccion_asignacion3 table{
    margin-top: 20px;
    border: 3px solid #444;
    width: 100%;
    border-collapse: collapse;
}

tr,th,td{
    border: 1px solid #444;
}

/*Modulo Analista de Inventario - Registrar Elemento*/
#container_registro_elemento {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    margin: 120px 10px 20px 10px;
    background-color: #c5c5c5;
    border-radius: 20px;
    font-size: 90%;
    line-height: 30px;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
}

.secciones_registro {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #444;
    padding: 20px 50px 20px 50px;
}
.titulo_registro_producto{
    display: flex;
    justify-content: space-between;
    padding-left:20% ;
    margin: 20px 5% 0px 20%;
    padding-bottom: 20px;
    border-left: 1px solid #b7b7b7;
}

.seccion1_registro img{
    width: 200px;
}

.seccion_registro{
    display: flex;
}

.seccion1_registro{
    width: 20%;
    border-top: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
}
.seccion2_registro{
    width: 80%;
}
.seccion2_registro h2{
    text-align: start;
    width: 100%;
    background-color: #b7b7b7;
}
.datos_registro{
    display: flex;
    line-height: 60px;
}
.datos_registro div{
    margin-top: 40px;
    width: 50%;
    padding-left: 150px;
    padding-right: 150px;
}
.datos_registro ul{
    text-align:right;
}

.datos_registro textarea{
    width: 100%;
}

.botones_reg{
    margin-top: 20px;
}

.botones_reg button {
    margin: 10px 100px auto 100px;
}

/*Modulo Analista de Inventario - Modificar Elemento*/

#container_modificar_elemento {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    margin: 120px 10px 20px 10px;
    background-color: #c5c5c5;
    border-radius: 20px;
    font-size: 90%;
    line-height: 30px;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
}

.secciones_modificar {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #444;
    padding: 20px 50px 20px 50px;
}
.titulo_modificar_producto{
    display: flex;
    justify-content: space-between;
    padding-left:20% ;
    margin: 20px 5% 0px 20%;
    padding-bottom: 20px;
    border-left: 1px solid #b7b7b7;
}

.titulo_modificar_producto input{
    text-align: center;
}

.seccion1_modificar img{
    width: 200px;
}
.titulo_seccion_producto{
    display: flex;
}

.seccion_modificar{
    display: flex;
}

.seccion1_modificar{
    width: 20%;
    border-top: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
}
.seccion2_modificar{
    width: 80%;
}
.seccion2_modificar h2{
    text-align: start;
    width: 70%;
    background-color: #b7b7b7;
}
.seccion2_modificar h3{
    display: flex;
    text-align: start;
    width: 30%;
    background-color: #b7b7b7;
    justify-content: space-between;
    padding-right: 100px;
}
.datos_modificar{
    display: flex;
    line-height: 60px;
}
.datos_modificar div{
    margin-top: 40px;
    width: 50%;
    padding-left: 150px;
    padding-right: 150px;
}
.datos_modificar ul{
    text-align:right;
}

.datos_modificar textarea{
    width: 100%;
}

.botones_modif{
    margin-top: 20px;
}

.botones_modif button {
    margin: 10px 100px auto 100px;
}

/*Modulo Analista de Inventario - Registro Masivo Elemento*/


#container_registromv_elemento {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    margin: 120px 10px 20px 10px;
    background-color: #c5c5c5;
    border-radius: 20px;
    font-size: 90%;
    line-height: 30px;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
}

.secciones_registromv {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #444;
    padding: 20px 50px 20px 50px;
}
.titulo_registromv_producto{
   text-align: center;
}
   
.hora_registromv{
    text-align: end;
    border-bottom: 1px solid #444;
    margin-bottom: 20px;
}

.botones_registromv1{
    text-align: start;
}

.botones_registromv1 button{
    margin-left: 20px;
    margin-right: 20px; 
}
.tabla_registromv{
    display: flex;
    width: 100%;
    overflow: scroll;
    justify-content: center;
}
.tabla_registromv table{
    border-collapse: collapse;
}



/*RESPONSIVE INDEX_ADM-CREAR-USUARIO_ADM-LISTAR USUARIO_ADM-MODIF-USUARIO*/

/*Medida 1260px */
@media screen and (max-width:1260px) {
    #container {
        font-size: 85%;
    }

    .seccion1,
    .seccion2 {
        margin: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .botones_av {
        margin-top: 20px;
    }

}

/*Media 950px*/
@media screen and (max-width:980px) {

    .seccion1,
    .seccion2 {
        margin: 1%;
        font-size: 70%;
    }

    .perfil_txt {
        padding: 0px;
    }

    #titulo {
        padding-top: 30px;
        font-size: 12px;
    }

    .botones_av button {
        font-size: 80%;
    }
}

/*Media 820px*/
@media screen and (max-width:820px) {
    #cabecera {
        padding-top: 0px;
    }


    .perfil_adm {
        display: flex;
        flex-direction: column;
        position: relative;
        border-left: 3px solid #444;
    }

    .logos {
        display: flex;
        flex-direction: column;
        position: relative;
        border-right: 3px solid #444;
        text-align: center;
    }

    .logo1 img {
        border-right: none;
        padding-right: 0px;
        margin-top: 5PX;
    }

    .logo2 img {
        margin-left: 0px;
    }

    .icono_ayuda {
        top: 10%;
        left: 2px;
    }

    .perfil_adm .icono_ayuda {
        position: absolute;
    }

    .perfil_txt,
    .perfil_txt button {
        font-size: 10px;
        margin: 0px;
        padding: 0px;
    }

    #cabecera img {
        width: 90%;
        height: 60px;
        margin-bottom: 0px;
    }

    #cabecera .imagen_perfil img {
        width: 70%;
    }

    .imagen_perfil {
        padding-left: 13px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .perfil_txt ul {
        border-left: none;
    }
}

/*Media 500px*/
@media screen and (max-width:500px) {

    .datos1 li,
    .datos2 li {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    input[type="text" i],
    input[type="email" i],
    input[type="tel" i],
    input[type="password" i] {
        width: 100%;
    }

    #roles,
    #areas,
    #ciudades {
        width: 100%;
    }
}