    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        background-color: #667cac;    
    }

    #cabecera {
        display: flex;
        justify-content: space-between;
        background-color: #b7b7b7;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
        padding: 4px 4px 0px 4px;
        border: 3px solid #444;
        position: fixed;
        top:0%;
        right:0%;
        left: 0%;
        box-sizing: border-box;
    }

    #cabecera img {
        width: 100%;
        height: 85px;
        margin-bottom: 0px;
    }

    .logos {
        display: flex;
    }

    .logo1 img {
        border-right: 3px solid #444;
        padding-right: 10px;
    }

    .logo2 img {
        margin-left: 20px;
    }

    .imagen_perfil {
        margin-left: 10px;
        margin-right: 10px;
    }

    .icono_ayuda {
        position: relative;
        top: 40%;
    }

    .icono_ayuda button {
        border-radius: 50%;
        padding: 20%;
        background-color: black;
        color: #fff;
    }

    .icono_ayuda button:hover {
        background-color: #fff;
        color: #444;
    }


    .perfil_adm {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .perfil_adm li {
        list-style: none;
    }

    .perfil_txt {
        margin-bottom: 0px;
    }

    .perfil_txt ul {
        border-left: 3px solid #444;
        padding-left: 10px;
    }

    .perfil_txt button {
        width: 100%;
        padding: 5px;
    }

    .perfil_txt button:hover {
        background-color: rgb(202, 231, 255);
    }

    .perfil_txt h5 {
        border: 1px solid #444;
        background-color: #fff;
        padding: 5px;
    }

    #container {
        border: 2px solid #444;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #c5c5c5;
        border-radius: 20px;
        font-size: 90%;
        height: 100%;
        position: relative;
    }

    #pie_pagina {
        display: flex;
        border-top: 2px solid #444;
        padding-top: 0.5%;
        flex-direction: column;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
        justify-content: center;
        text-align: center;
        position: absolute;
        bottom: 0;        
    }

    /*Contenedor Administrador - INICIO SESION*/

    #container_inicio{
        display: grid;
        border: 1px solid #444;
        width: 60%;
        margin: 120px 20% 50px 20%;
        height: auto;
        grid-template-rows: repeat(12 ,50px);
        grid-template-columns: 10% repeat(8 ,10%)10%;
        background-color: #c5c5c5;             
        box-sizing: border-box;
        border-radius: 20px;
        
    }

    #container_inicio img{
        width: 100px;
    }


    .container_inicio_adm{
        grid-row: 2/12;
        grid-column: 3/9;
        background-color: #fff;
        border: 1px solid #444;
        border-radius: 20px;
        text-align: center;
        line-height: 50px;
    }

    .inicio_imagenes{
        display: flex;
        justify-content: space-evenly;
    }
    .inicio_texto{
        display: flex;
        justify-content: center;
        flex-direction: column;    
    }
    .inicio_texto input{
        margin: 10px 10% 10px 10%;
    }

    /*Contenedor Administrador - PERFIL*/
        #container_perfil_adm {
        display: flex;
        border: 2px solid #444;
        margin: 120px 10px 20px 10px;
        background-color: #c5c5c5;
        border-radius: 20px;
        font-size: 90%;
        height: 100%;
        padding: 140px 20px 140px 20px;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .crear_adm,.eliminar_adm,.modificar_adm,.visualizar_adm{
        display: flex;
        flex-direction: column; 
        background-color: #fff;
        text-align: center;     
        align-items: center;  
        border-radius: 20px;
        border: 3px solid #444;
        padding: 20px;
        line-height: 50px;
    }
    #container_perfil_adm textarea{
        margin-top: 20px;
    }
    .titulo_container_perfil_adm{
        position: absolute;
        top: 180px;
    }
 
    /*Contenedor Administrador - CREACION DE USUARIO*/
    #secciones {
        display: flex;
    }

    .seccion1,
    .seccion2 {
        width: 50%;
        height: auto;
        border: 1px solid #444;
        border-radius: 2%;
        background-color: #fff;
        margin: 1%;
        padding: 3% 10% 3% 10%;
        text-align: center;
        box-sizing: border-box;
    }

    .titulo_secciones {
        text-align: center;
        margin: 1%;
    }

    .seccion1 h1 {
        margin-bottom: 80px;

    }

    .datos1,
    .datos2 {
        text-align: left;
    }

    input[type="text" i],
    input[type="email" i],
    input[type="tel" i],
    input[type="password" i] {
        float: right;
    }

    .datos1 li {
        margin-top: 50px;
    }

    .datos2 li {
        margin-top: 50px;
    }

    .datos2 select {
        float: right;
        width: 170px;
    }

    .seccion1 li,
    .seccion2 li {
        list-style: none;
    }

    .botones_av {
        display: flex;
        align-items: center;
        margin: 10px;
        justify-content: center;
    }

    .botones_av button {
        text-align: center;
        width: 100px;
        margin:40px ;
    }

    .botones_av button:hover {
        background-color: rgb(202, 231, 255);
    }

    /*Contenedor Administrador - MODIFICAR USUARIO*/
    .container_mod {
        display: grid;
        border: 1px solid #444;
        width: 100%;
        height: auto;
        grid-template-rows: 50px 50px repeat(4 ,100px) 50px 50px;
        grid-template-columns: 10% repeat(4 ,20%)10%;
        background-color: #c5c5c5;     
        padding: 5%;
        padding-top: 2%;
        box-sizing: border-box;
        border-radius: 20px;
        position: relative;
    }
    .titulo_container_mod{
        text-align: center;
        grid-row: 1/2;
        grid-column: 1/7;
        border-bottom: 1px solid #444;
    }

    .seccion_mod1 {
        margin-top: 10px;
        grid-row: 2/3;
        grid-column: 1/7;
    }  
    .seccion_mod2,.seccion_mod3,.seccion_mod4,.seccion_mod5,.seccion_mod6{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        line-height:40px;
    }

    .secciones_mod{
        display: grid;
        grid-row: 3/9;
        grid-column: 2/6;
        grid-template-rows: 70% 20% 10%;
        grid-template-columns: 12.5% repeat(5 ,15%) 12.5%;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #444;
    }
    .seccion_mod2 label,.seccion_mod3 label,.seccion_mod4 label,.seccion_mod5 label{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom:30px ;
    }

    .seccion_mod2{
        grid-column: 2/3;
    }

    .seccion_mod3{
        grid-column: 4/5;
    }

    .seccion_mod4{
        grid-column: 6/7;
    }

    .seccion_mod5{ 
       grid-column: 3/6;
       grid-row: 2/3;
       margin: 0% 20% 0% 20%;
    }

    .seccion_mod_buttom{
        text-align: center;
        margin-top: 80px;
    }
 
    /*Contenedor Administrador - LISTAR USUARIOS*/
    #container_listar {
        display: flex;
        text-align: center;
        margin: 2%;
        margin-bottom: 4%;
        height: auto;
        justify-content: center;
        background-color: #fff;
        position: relative;
        justify-content: center;
    }

    #container_listar .titulo{
        top: 100px;
        width: 100%;
        background-color: #fff;
    }

    #container_listar section {
        border: 2px solid #444;
        text-align: center;
        width: 100%;
        height: auto;
        background-color: #fff;
        position: relative;

    }

    #container_listar .tabla {
        display: flex;
        width: 100%;
        border: 1px solid #444;
        height: auto;
        font-size: 10px;
        padding: 5px;
        max-height: 520px;
        text-align: center;
        overflow: scroll;
    }

    #container_listar .titulo {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    #container_listar table,
    th,
    td,
    tr {
        border: 1px solid #444;
        padding: 5px;
        width: auto;

    }

    #container_listar button{
       position: absolute;
    }

/*Contenedor Administrador - ELIMINAR USUARIOS*/
    .seccion_eliminar_usuario{
        display: flex;
        flex-direction: column;
        grid-column: 2/6;
        grid-row: 3/9 ;
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #444;
        box-sizing: border-box;
        padding: 50px 150px 30px 150px;
    
    }
    #usuarios_el {
        margin: 0px 20% 20px 20%;
    }
    .usuarios_elim_general textarea{
        display: flex;
        justify-content: center;
        width:100%;
        height:250px;
        border:1px solid #444;
        border-radius:3px;
        background-color:#f6f6f6;			
        margin:8px 0;
        /*resize: vertical | horizontal | none | both*/
        resize:none;
    }    

    .boton_eliminar{
        display: inline-block;
        margin-top: 20px;
    }
    .boton_eliminar button{
        margin: 0px 50px 0px 50px;
    }


/*----------------------------------------------------
PERFIL USUARIO FINAL
----------------------------------------------------*/
/*Modulo Usuario Final - Perfil*/

#container_perfil_uf{
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    margin: 120px 10px 20px 10px;
    background-color: #c5c5c5;
    border-radius: 20px;
    font-size: 90%;
    height: 100%;
    padding: 80px 20px 140px 20px;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
}

.generar_req,.visualizar_req{
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    text-align: center;     
    align-items: center;  
    border-radius: 20px;
    border: 3px solid #444;
    padding: 20px;
    line-height: 50px;
}
.secciones_perfil_uf{
    display: flex;
    width: 100%;
    justify-content:space-around;
}
.titulo_perfil_uf{
    margin-bottom: 50px;
}


/*Modulo Usuario Final - Crear Requerimiento*/
#container_crear_requerimiento {
    border: 2px solid #444;
    margin: 10px;
    margin-top: 120px;
    margin-bottom: 20px;
    background-color: #c5c5c5;
    border-radius: 20px;
    font-size: 90%;
    height: 100%;
    padding: 5%;  
    line-height: 30px;
}

.titulo_crear_requerimiento{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.numero_req{
    display: flex;
    float: right;
}

#container_crear_requerimiento textarea{
    width: 100%;
}

.titulo_crear_req h1{
    margin-top: 50px;

}


.boton_crear_req{
   text-align: end;
   padding-top: 20px;
   bottom: 0%;
}






 /*RESPONSIVE INDEX_ADM-CREAR-USUARIO_ADM-LISTAR USUARIO_ADM-MODIF-USUARIO*/

        /*Medida 1260px */
        @media screen and (max-width:1260px) {
            #container{
                font-size: 85%;
            }
            .seccion1,
            .seccion2 {
                margin: 2%;
                padding-left: 5%;
                padding-right: 5%;
            }
            .botones_av {
                margin-top: 20px;
            }
    
        }
    
        /*Media 950px*/
        @media screen and (max-width:980px) {
    
            .seccion1,
            .seccion2 {
                margin: 1%;
                font-size: 70%;
            }
    
            .perfil_txt {
                padding: 0px;
            }
    
            #titulo {
                padding-top: 30px;
                font-size: 12px;
            }
            .botones_av button {
                font-size: 80%;
            }
        }
    
        /*Media 820px*/
        @media screen and (max-width:820px) {
            #cabecera {
                padding-top: 0px;
            }
    
    
            .perfil_adm {
                display: flex;
                flex-direction: column;
                position: relative;
                border-left: 3px solid #444;
            }
    
            .logos {
                display: flex;
                flex-direction: column;
                position: relative;
                border-right: 3px solid #444;
                text-align: center;
            }
    
            .logo1 img {
                border-right: none;
                padding-right: 0px;
                margin-top: 5PX;
            }
    
            .logo2 img {
                margin-left: 0px;
            }
    
            .icono_ayuda {
                top: 10%;
                left: 2px;
            }
    
            .perfil_adm .icono_ayuda {
                position: absolute;
            }
    
            .perfil_txt,
            .perfil_txt button {
                font-size: 10px;
                margin: 0px;
                padding: 0px;
            }
    
            #cabecera img {
                width: 90%;
                height: 60px;
                margin-bottom: 0px;
            }
    
            #cabecera .imagen_perfil img {
                width: 70%;
            }
    
            .imagen_perfil {
                padding-left: 13px;
                margin-right: 0px;
                margin-left: 0px;
            }
    
            .perfil_txt ul {
                border-left: none;
            }
        }
        /*Media 500px*/
        @media screen and (max-width:500px) {
    
            .datos1 li,
            .datos2 li {
                display: flex;
                flex-direction: column;
                text-align: center;
    
            }
    
            input[type="text" i],
            input[type="email" i],
            input[type="tel" i],
            input[type="password" i] {
                width: 100%;
            }
    
            #roles,
            #areas,
            #ciudades {
                width: 100%;
            }
        }
